body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qrcode-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.qrcode-container h1 {
  margin-bottom: 20px;
}

#qrcode {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}
