::deep .drop-zone {
    padding: 32px;
    border: dashed 2px black;
    transition: border linear 0.2s;
}

    ::deep .drop-zone.hover {
        border: dashed 2px darkorange;
    }

.drug {
    color: #999;
    font-size: 20px;
    display: block;
    text-align: center;
}
