.camera-container {
  position: relative;
  margin: 10px;
}
.camera-label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  font-size: 12px;
  z-index: 1;
}
.refresh-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.fullscreen-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancel-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 1001;
}
